name: Github-actions Practice

on:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Variables
      run: |
        echo "Commit is $GITHUB_SHA"
        echo  "Repo is $GITHUB_REPOSITORY"