name: First Pipeline

on:
  push:
    branches:
    - main
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Run commands
      run: |
        pwd
        ls
        echo "I am inside a Github VM"
